@charset "utf-8";

.clear_fix::after {
    content: "";
    clear: both;
    display: block;
}

.title {
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.wrap {
    padding-bottom: 30px;
}

.info_wrap {
    width: 450px;
    height: auto;
    border: 1px solid black;
    margin: 0 auto;
}

.info_wrap .info_box {
    border: 1px solid #d1d1d1;
    border-left: none;
    border-right: none;
    border-top: none;
    overflow: hidden;
}

.info_wrap .info_final_box {
    border: none;
    overflow: hidden;
}

.info_wrap .title {
    font-weight: normal;
    font-size: 16px;
    float: left;
    padding: 0;
    margin: 0;
    height: 35px;
    line-height: 35px;
    background: #ececec;
    color: #585b48;
    padding: 0 10px 0 10px;
}

.info_wrap .text {
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px 0 10px;
}

.info_wrap .text.shelter_name {
    text-decoration: none;
    color: rgb(46, 65, 179);
}

.info_box .marker_link {
    cursor: pointer;
    font-size: 13px;
    color: rgb(22, 206, 181);
    position: relative;
    top: -1px;
}