@charset "utf-8";

.clear_fix::after {
    content: "";
    display: block;
    clear: both;
}

html,
body,
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search_form {
    padding: 25px 20px 20px 20px;
    width: 600px;
    border: 1px solid #acacac;
    margin: 0 auto;
    background: rgba(245, 255, 149, 0.29);
}

.search_form .date_form {
    padding-bottom: 20px;
}

.search_form input[type="date"] {
    border-style: none;
    border: 1px solid #000;
}

.search_form label {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}

.search_form label {
    padding-right: 5px;
}

.search_form .end_day {
    margin-left: 15px;
}

.search_form .condition_form {
    padding-bottom: 20px;
}

.condition_form label {
    position: relative;
    float: left;
    padding-right: 4px;
    top: 10px;
}

.condition_form .sido_label {
    margin-left: 15px;
}

.search_form .kinds_box {
    float: left;
    position: relative;
    width: 110px;
    height: 38px;
    border: 1px solid #ddd;
    line-height: 38px;
}

.kinds_box .kinds {
    width: 100%;
    height: 100%;
    border: 0 none;
    font-size: 16px;
    padding: 0 0 0 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.kinds_box::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4px;
    margin: auto;
    background: url(../images/select.png)no-repeat;
    width: 13px;
    height: 7px;
    content: "";
}

.animal_list {
    margin: 25px 0 0 -15px;
}

.animal_list li {
    float: left;
    margin-bottom: 30px;
}

.animal_list li {
    margin-left: 50px;
}

.animal_list .animal_profile {
    display: block;
    cursor: pointer;
    padding: 15px 0 25px 15px;
    border: 1px solid #e4e4e4;
    color: #000;
    font-size: 14px;
    height: 260px;
    overflow: hidden;
}

.animal_list li .profile_img {
    float: left;
    width: 170px;
    height: 170px;
}

.animal_list li .profile_info {
    float: left;
    width: 140px;
    height: auto;
    font-size: 13px;
    margin-left: 10px;
}

.profile_info .info_title {
    font-weight: bold;
    display: block;
    padding-bottom: 3px;
    margin-top: 11px;
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(181, 181, 181, 0.3);
}

.profile_info .info_text {
    font-style: normal;
    font-size: 11px;
    color: #555;
}

.profile_info .specialMark {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
