{% extends 'main_template.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard_style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="{{ url_for('static', filename='js/dashboard_script.js') }}">
    </script>
    <title>웹서비스컴퓨팅</title>
</head>

<body>
    <div class="wrap">
        <form action="/bp/dashboard" class="search_form" method="POST">
            <div class="date_form">
                <div style="margin-bottom: 10px;">
                    <label for="start_day" class="start_day">검색시작일</label>
                    <input type='date' id="start_day" name="start_day" placeholder=" YYYY-MM-DD" />
                </div>

                <div>
                    <label for="end_day" class="end_day">검색종료일</label>
                    <input type='date' id="end_day" name="end_day" placeholder=" YYYY-MM-DD" />
                </div>
            </div>

            <div class="condition_form clear_fix">
                <div class="clear_fix" style="margin-bottom: 10px;">
                    <label for="kinds">종류</label>
                    <div class="kinds_box">
                        <select class="kinds" name="animal_kinds" id="kinds">
                            <option value="417000">개</option>
                            <option value="422400">고양이</option>
                            <option value="429900">기타</option>
                        </select>
                    </div>
                </div>

                <div class="clear_fix">
                    <label class="sido_label" for="sido">시,도</label>
                    <div class="kinds_box">
                        <select class="kinds" id="sido" name="sido_kinds"
                            onChange="find_sido(this.value,sigungu_kinds)">
                            <option>-선택-</option>
                            <option value="6110000">서울특별시</option>
                            <option value="6260000">부산광역시</option>
                            <option value="6270000">대구광역시</option>
                            <option value="6280000">인천광역시</option>
                            <option value="6290000">광주광역시</option>
                            <option value="6300000">대전광역시</option>
                            <option value="6310000">울산광역시</option>
                            <option value="6410000">경기도</option>
                            <option value="6420000">강원도</option>
                        </select>
                    </div>

                    <div class="kinds_box">
                        <select class="kinds" name="sigungu_kinds">
                            <option>-선택-</option>
                        </select>
                    </div>
                </div>

                <div class="clear_fix">
                    <p class="isNutralization">중성화여부(Y/N)</p>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="neutralization" id="yes" class="custom-control-input" value="Y">
                        <label class="custom-control-label" for="yes">Y</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="neutralization" id="no" class="custom-control-input" value="N">
                        <label class="custom-control-label" for="no">N</label>
                    </div>
                </div>
            </div>
            <input class="search_btn" type="submit" value="검색" title="조건에 맞는 동물을 검색합니다.">
        </form>

        <ol class="animal_list clear_fix">
            {% if animal_list is defined %}
            <script>
                var info_arr = new Array();
                var idx = 0;
            </script>
            {%for animal in animal_list%}
            {%if ((animal['processState']=='보호중') or (animal['processState']=='공고중')):%}
            <li>
                <div id="profile{{loop.index}}" class="animal_profile clear_fix" title="자세히보려면 여기를 클릭하세요"
                    onclick="profile_onclick()">
                    <img src="{{animal['popfile']}}" alt="반려동물" class="img-thumbnail profile_img">
                    <div class="profile_info">
                        <span class="info_title">나이: <span class="info_text">{{animal['age']}}</span></span>
                        <span class="info_title">성별: {%if animal['sexCd'] == 'M' %}<span class="info_text">수컷</span>
                            {%else%} <span class="info_text">암컷</span>{%endif%}</span>
                        <span class="info_title">체중: <span class="info_text">{{animal['weight']}}</span></span>
                        <span class="info_title">중성화여부: <span class="info_text">{{animal['neuterYn']}}</span></span>
                        <span class="info_title">품종: <span class="info_text">{{animal['kindCd']}}</span></span>
                        <span class="info_title">상태: <span class="info_text">{{animal['processState']}}</span></span>
                        <span class="info_title specialMark">특이사항: <span
                                class="info_text">{{animal['specialMark']}}</span></span>
                    </div>
                </div>
                <script>
                    info_arr[idx] = JSON.parse('{{animal|tojson}}');
                </script>
            </li>
            {%endif%}
            <script>
                idx = idx + 1;
            </script>
            {% endfor %}
            {% else %}
            <!-- Small modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target=".bd-example-modal-sm">검색실패</button>

            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        조건에맞는 검색내용이 없습니다.
                    </div>
                </div>
            </div>
            {% endif %}
        </ol>
    </div>
</body>

</html>
{% endblock %}