{% extends 'main_template.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>좌표로 주소를 얻어내기</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map_style.css') }}">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="shortcut icon" href="#" />

    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=813476b3b8e1fe8922830eacad7f5f5e&libraries=services"></script>
</head>

<body>
    <!-- 마크업디자인 영역 -->
    <div class="box">
        <div class="moveTo clear_fix">
            <form action="http://127.0.0.1:5000/bp/maps" method="POST">
                <input id="address_input" class="address_input" type="text" name="address"
                    placeholder=" 입력한 주소와 가까운 위치의 시설을 표시합니다.">
                <input class="address_button" type="submit" value="검색" title="입력주소에 속한 반려동물업체를 검색합니다.">
            </form>
        </div>
        <div class="map_wrap">
            <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
            <div class="hAddr">
                <span class="title">지도중심기준 행정동 주소정보</span>
                <span id="centerAddr"></span>
            </div>

            <!-- 지도타입 컨트롤 div 입니다 -->
            <div class="map_controller_div clear_fix">
                <button id="btnRoadmap" class="map_btn" onclick="setMapType('roadmap')">지도</button>
                <button id="btnSkyview" class="skyview_btn" onclick="setMapType('skyview')">스카이뷰</button>
            </div>
            <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
            <div class="custom_zoomcontrol radius_border clear_fix">
                <span onclick="zoomIn()"><img src="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png"
                        alt="확대"></span>
                <span onclick="zoomOut()"><img
                        src="http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
            </div>
        </div>
    </div>
    <div id="roadview" class="road_view">
        <button class="close_btn" onclick="close_click()" title="로드뷰를 끕니다."></button>
    </div>

    <!-- 임시버튼(마커 다중생성,삭제) -->
    <div class="marker_div">
        <button onclick="marker_make()" class="marker_create blind">마커생성</button>
        <button onclick="marker_delete()" class="marker marker_delete blind">마커삭제</button>
    </div>

    <!-- 지도 스크립트 영역 -->
    <script type="text/javascript">
        pos_x = '{{pos_x}}';
        pos_y = '{{pos_y}}';
    </script>
    <script src="{{ url_for('static', filename='js/map_script.js') }}">
    </script>
</body>

</html>
{% endblock %}
