<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/shelter_info_style.css') }}">
    <script>
        var shelter_info = opener.parent.myfunc(); // 화면에 표시할 보호시설의 상세정보
    </script>
</head>

<body>
    <!-- 마크업디자인 -->
    <div class="wrap">
        <h1 class="title">보호시설 상세정보</h1>
        <div class="info_wrap">
            <!-- 보호소 명 -->
            <div class="info_box clear_fix">
                <span class="title">보호소 명</span>
                <span id="shelter_name" class="text"></span>
            </div>

            <!-- 주소 -->
            <div class="info_box clear_fix">
                <span class="title">주소</span>
                <span id="shelter_addr" class="text"></span>
            </div>

            <!-- 전화번호 -->
            <div class="info_box clear_fix">
                <span class="title">전화번호</span>
                <span id="shelter_tel" class="text"></span>
            </div>

            <!-- 담당자 -->
            <div class="info_box clear_fix">
                <span class="title">담당자</span>
                <span id="offer" class="text"></span>
            </div>

            <!-- 연락처 -->
            <div class="info_box clear_fix">
                <span class="title">연락처</span>
                <span id="offer_tel" class="text"></span>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/shelter_info_script.js') }}"></script>
</body>

</html>